.appbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 900;
    width: 100%;
}

.appbarContainerLight {
    background-color: #FAF8F7;
    color: #242424;
    transition: all .3s ease-in,
}

.appbarContainerDark {
    background-color: #0F0E10;
    color: #fff;
    transition: all .3s ease-in,
}

.appbarContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.appbarContainer li {
    margin-right: 50px;
    font-size: 14px;
    transition: all .2s ease-in;
}

.appbarContainer li:hover:not(:first-child) {
    color: #1EE1B3;
    cursor: pointer;
}

.listHeader {
    display: none;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    padding: 50px 20px !important;
}

.listHeader span {
    font-weight: bold;
    font-size: 20px;
}

.closeIcon:hover {
    cursor: pointer;
}

.buttonSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login {
    border: none;
    background: transparent;
    margin: 0 10px;
    color: inherit;
}

.Login:hover {
    color: #1EE1B3;
    cursor: pointer;
}

.signupButton {
    padding: 10px 15px;
    border: none;
    background-color: #1EE1B3;
    transition: all .2s ease-in;
}

.signupButton:hover {
    background-color: #1EB2E1;
    color: #fff;
    cursor: pointer;
}

.darkmodeButton {
    border: none;
    margin-right: 40px;
    background: transparent;
}

.darkmodeButton:hover {
    cursor: pointer;
}

.menuButton {
    display: none;
    color: inherit;
    margin-left: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 835px) {


    .appbarContainer ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        width: 50%;
        height: 100%;
        z-index: 999;
        transform: translateX(-100%);
        background-color: #fff;
        color: #000;
        transition: all .2s ease-in;

    }

    .appbarContainer_open {
        transform: translateX(0) !important;
        box-shadow: 8px -5px 27px -2px rgba(0, 0, 0, 0.8);
    }

    .appbarContainer li {
        margin: 5px;
        padding: 25px;
        /* width: 100%; */
    }

    .listHeader {
        display: flex;
    }


    .appbarContainer li:hover:not(:first-child) {
        background-color: #61877f;
        color: #fff;
    }

    .menuButton {
        display: block;
        font-size: 15px;
        border: none;
        background: transparent;
    }

    .menuButton:hover {
        cursor: pointer;
        margin-left: 7px;
        color: #1EE1B3;
    }


    .navoverlay_open {
        display: block;
    }

}

@media screen and (max-width: 735px) {
    .darkmodeButton {
        display: none;
    }
}